In [1]:
import pandas as pd

In [51]:
#first we'll read the local file using pandas dataframe 

df = pd.read_csv("C:/Users/Shiv Kumar/Downloads/Walmart.csv", encoding_errors = 'ignore')

In [52]:
# df.head()
df.shape

(10051, 11)

In [53]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [54]:
#to check whether it's having null values & Datatype of all the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [55]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10046     True
10047     True
10048     True
10049     True
10050     True
Length: 10051, dtype: bool

In [56]:
#to check if dataset is having any duplicate values or not : will print total duplicates
df.duplicated().sum()

np.int64(51)

In [57]:
# to remove the duplicates from the dataset : 
# df1= df.drop_duplicates(inplace = True)   : because When you use inplace=True, drop_duplicates() returns None, because it modifies df directly.
df1 = df.drop_duplicates()

In [58]:
#to check whether it's having null values or not 
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [59]:
df1.duplicated().sum()

np.int64(0)

In [60]:
df.shape

(10051, 11)

In [61]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [34]:
#now we'll deal with null values

In [63]:
df.dropna(inplace = True)

In [65]:
df.shape

(10020, 11)

In [64]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [66]:
#now we'll change the datatype of unit_price and quantity
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10020 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10020 non-null  int64
 1   Branch          10020 non-null  object
 2   City            10020 non-null  object
 3   category        10020 non-null  object
 4   unit_price      10020 non-null  float64
 5   quantity        10020 non-null  float64
 6   date            10020 non-null  object
 7   time            10020 non-null  object
 8   payment_method  10020 non-null  object
 9   rating          10020 non-null  float64
 10  profit_margin   10020 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 939.4+ KB

In [50]:
df.info

<bound method Series.info of 0       74.69
1       15.28
2       46.33
3       58.22
4       86.31
        ...
9995       37
9996       58
9997       52
9998       79
9999       62
Name: unit_price, Length: 9969, dtype: object>

In [77]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

In [71]:
df['total'] = df['unit_price'] * df['quantity']

In [75]:
len(df.columns)

12

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10020 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10020 non-null  int64
 1   branch          10020 non-null  object
 2   city            10020 non-null  object
 3   category        10020 non-null  object
 4   unit_price      10020 non-null  float64
 5   quantity        10020 non-null  float64
 6   date            10020 non-null  object
 7   time            10020 non-null  object
 8   payment_method  10020 non-null  object
 9   rating          10020 non-null  float64
 10  profit_margin   10020 non-null  float64
 11  total           10020 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1017.7+ KB

In [80]:
df.shape

(10020, 12)

In [100]:
df.columns = df.columns.str.lower()

In [81]:
#now the data is clean and optimized to fetch into database liek mysql, postgres
# let's connect with mysql and upload the data

from sqlalchemy import create_engine

In [82]:
username = 'root'
password = '258634'
host = 'localhost'            # or your server IP
port = 3306                   # default MySQL port
database = 'shivdb'

engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

In [121]:
df.to_sql(name='walmart_dataset', con=engine, if_exists='replace', index=False)

9969

In [122]:
# Read data back from MySQL to verify
df_check = pd.read_sql('SELECT * FROM walmart_dataset' , con=engine)
df_check.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [103]:
df.shape

(10020, 12)

In [107]:
df.isnull().sum()

invoice_id        0
branch            0
city              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
total             0
dtype: int64

In [119]:
df.duplicated().sum()

np.int64(0)

In [115]:
df = df.drop_duplicates()

In [116]:
df.shape

(9969, 12)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   branch          9969 non-null   object
 2   city            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
 11  total           9969 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1012.5+ KB